<section class="hero is-primary is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">NEW RESOURCE FORM</h1>
            <h2 class="subtitle">Capture additional resources. You never know !</h2>
        </div>
    </div>
</section>

<form method="POST" action="/users">
    <div class="field">
        <label for="userName">Resource Id :</label>
        <input type="text" name="id">
    </div>
    <div class="field">
        <label for="email">Description</label>
        <input type="text" name="description">
    </div>
    <button class="button is-primary">Submit</button>
</form>
<nav class="breadcrumb is-large">
<a href = '/users'>Home</a>
</nav>