<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="https://i.imgur.com/iZd2Rji.png">
  </head>
  <body>
    
    {{{body}}}

  </body>
</html>
