body {
  padding: 50px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-image: "https://i.imgur.com/iZd2Rji.png";
}

a {
  color: #00B7FF;
}

button{
  color: black;
}

img{
  max-width: 100%;
}
